<!DOCTYPE html>
    <head>
        <title>Library Admin Panel</title>
    </head>
    <body>
        <table>
            <tr>
                <th>BookID</th>
                <th>Title</th>
            </tr>
            {%for book in books%}
                <tr>
                    <td>{{book.BookID}}</td>
                    <td>{{book.Title}}</td>
                    <td>{{book.PublishedDate}}</td>
                </tr>
            {%endfor%}
        </table>

        <table>
            <tr>
                <th>UserID</th>
                <th>Name</th>
            </tr>
        </table>
    </body>
</html>
