<!DOCTYPE html>
    <head>
        <title>Library Admin Panel</title>
        <style>
                table, th, td {
                  border: 1px solid black;
                }
                </style>
    </head>
    <body>
        <h2>Library Catalogue</h2>
        <table>
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Author</th>
                <th>PublishedDate</th>
                <th>ISBN</th>
            </tr>
            {%for book in books%}
                <tr>
                    <td>{{book.BookID}}</td>
                    <td>{{book.Title}}</td>
                    <td>{{book.Author}}</td>
                    <td>{{book.PublishedDate}}</td>
                    <td>{{book.ISBN}}</td>

                </tr>
            {%endfor%}
        </table>
        <br />
        <h2>Library Members</h2>
        <table>
            <tr>
                <th>UserID</th>
                <th>UserName</th>
                <th>Name</th>
            </tr>
        </tr>
        {%for user in users%}
            <tr>
                <td>{{user.LmsUserID}}</td>
                <td>{{user.UserName}}</td>
                <td>{{user.Name}}</td>
            </tr>
        {%endfor%}
        </table>
        <br />

        <h2>Books on Loan</h2>
        <table>
            <tr>
                <th>BookBorrowedID</th>
                <th>BookID</th>
                <th>BorrowedDate</th>
                <th>LmsUserID</th>
                <th>ReturnedDate</th>
                <th>Status</th>
            </tr>
        </tr>
        {%for loan in loans%}
            <tr>
                <td>{{loan.BookBorrowedID}}</td>
                <td>{{loan.BookID}}</td>
                <td>{{loan.BorrowedDate}}</td>
                <td>{{loan.LmsUserID}}</td>
                <td>{{loan.ReturnedDate}}</td>
                <td>{{loan.Status}}</td>
            </tr>
        {%endfor%}
        </table>

        <h2>Add new Book to Library Catalogue</h2>
      <form action = "http://localhost:5000/addbookform" method = "POST">
         <p>Title <input type = "text" name = "title" /></p>
         <p>Author <input type = "text" name = "author" /></p>
         <p>Date Published <input type = "text" name = "publisheddate" /></p>
         <p>ISBN <input type ="text" name = "isbn" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

      <h2>Delete Book from Catalogue</h2>
      <form action = "http://localhost:5000/deletebookform" method = "POST">
         <p>Book ID <input type = "text" name = "bookid" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

      

    </body>
</html>
